{% extends "layout.html" %}

{% block title %}
    CV Scanner
{% endblock title %}

{% block header_title %}
    <h1>CV Scanner</h1>
{% endblock header_title %}

{% block content %}
    <div>
        <h2>How many persons do you want to interview?</h2>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <label for="person_count" class="form-label">Persons Count:</label>
                <div class="col-sm-1">
                    <input type="number" name="persons_count" id="person_count" class="form-control" required>
                </div>
            </div>
            <p style="color: red">{{ count_error }}</p>
            <br>

            <h2>Choose a job profile</h2>
            <div class="form-row">
                <label for="job_profiles" class="form-label">Job Profiles:</label>
                <div class="col-sm-2">
                    <select name="job_profile" id="job_profile" class="form-select">
                        {% for profile in job_profiles %}
                            <option value="{{ profile.id }}">{{ profile.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>

            <h2>Choose the CVs you want to analyze</h2>
            <div>
                <label for="documents" class="form-label">Upload documents:</label>
                <input type="file" accept=".pdf,.docx" name="documents" id="documents" multiple class="form-control-file" required>
            </div>
            <p style="color: red">{{ documents_error }}</p>
            <br>
            <button type="submit" class="btn btn-outline-primary btn-lg">Results</button>
        </form>
    </div>
    
{% endblock content %}