{% extends "layout.html" %}

{% block title %}
    CV Scanner
{% endblock title %}

{% block header_title %}
    <h1>CV Scanner</h1>
{% endblock header_title %}

{% block content %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row my-5 text-center">
                <div class="col-sm-4">
                    <h2>How many persons do you want to interview?</h2>
                </div>
                <div class="col-sm-4">
                    <h2>Choose a job profile</h2>
                </div>
                <div class="col-sm-4">
                    <h2>Choose the CVs you want to analyze</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 d-flex flex-column align-items-center">
                    <label for="person_count" class="form-label">Persons Count:</label>
                    <input type="number" name="persons_count" id="person_count" class="form-control" required>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center">
                    <label for="job_profiles" class="form-label">Job Profiles:</label>
                    <select name="job_profile" id="job_profile" class="form-select">
                        {% for profile in job_profiles %}
                            <option value="{{ profile.id }}">{{ profile.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center">
                    <label for="documents" class="form-label">Upload documents:</label>
                    <input type="file" accept=".pdf,.docx" name="documents" id="documents" multiple class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 text-center">
                    <p style="color: red">{{ count_error }}</p>
                </div>
            </div>
            <div class="row-md mt-5">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary btn-lg btn-custom-size">Results</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}