{% extends "layout.html" %}

{% block title %}
    Add profile
{% endblock title %}

{% block header_title %}
    <h1>Add profile</h1>
{% endblock header_title %}

{% block content %}
    <form method="post" action="{% url 'add_profile' %}">
        {% csrf_token %}
        {{ profile_form.as_p }}
        
        <h2>Keywords</h2>
        {{ keyword_formset.management_form }}
        {% for form in keyword_formset %}
            <div>
                {{ form.as_p }}
            </div>
        {% endfor %}
        
        <button type="submit">Save</button>
    </form>
{% endblock content %}