{% extends "layout.html" %}

{% block title %}
    Edit profiles
{% endblock title %}

{% block header_title %}
    <h1>Edit profiles</h1>
{% endblock header_title %}

{% block content %}
    <form method="post" action="{% url 'edit' profile.id %}">
        {% csrf_token %}
        {{ profile_form.non_field_errors }}
        <div class="row mb-5 d-flex align-items-center w-100 justify-content-center p-0">
            <div class="row">
                <h5>{{ profile_form.name.label_tag }}</h5>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-5 col-md-4 col-lg-3">
                    {{ profile_form.name }}
                    {% for error in profile_form.name.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-sm-3 col-md-2 col-xl-1">
                    <button type="submit" class="btn btn-success btn-lg w-100">Save</button>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row card-deck">
                <div class="col">
                    <h2 class="mb-4">Keywords</h2>
                    <div class="row d-flex align-between">
                        {{ keyword_formset.management_form }}
                        {% for form in keyword_formset.forms reversed %}
                            {{form.id}}
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                                <div class="card shadow h-100 d-flex flex-column mb-3 p-3">
                                    {{ form.non_field_errors }}
                                    <div class="">
                                        {{ form.name.label_tag }}
                                        {{ form.name }}
                                        {% for error in form.name.errors %}
                                            <div class="text-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="">
                                        {{ form.value.label_tag }}
                                        {{ form.value }}
                                        {% for error in form.value.errors %}
                                            <div class="text-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    {% if form.instance.pk and keyword_formset.total_form_count > 2%}
                                        <button type="submit" name="delete_button" value="{{ form.instance.pk }}" class="btn btn-outline-danger bt-sm ">Delete</button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}