<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        CV Scanner
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class="nav bg-info">
        <a class="nav-link link-light" href="/">Scan CVs</a>
        <a class="nav-link link-light" href="/job_profiles">Job Profiles</a>
        <a class="nav-link link-light" href="/job_profiles/add_profile">Add Job Profiles</a>
    </nav>
    <header class="content">
        {% block header_title %}
        {% endblock header_title %}
    </header>
    <main class="content">
        {% block content %}
        {% endblock content %}
    </main>

    {% block script %}
    {% endblock script %}
</body>
</html>