<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        CV Scanner
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        {% block header_title %}
        {% endblock header_title %}
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/job_profiles">Job Profiles</a>
        <a href="/documents">Scan CVs</a>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>